h1 {
    text-align: center;
}

.uk-checkbox {
    border: 2px solid #444;
    height: 24px;
    width: 24px;
}

.uk-container {
    margin-bottom: 64px;
}

body {
    background: #1a1a1a;
}